
/* 
    section preident 
 */

.president_sentence .container{
    display: flex;
}

.left_prezident_news{
    width: 794px;
    text-align: left; 
    margin-top: 110px;
    margin-right: 20px;
   
}

.left_logo_president{
    margin-bottom: 35px;
}

.text_iqtibos{
    margin: 0;
}

.text_down{
    margin: 15px;
}

.president_bold_text{
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;   
}

blockquote{
    margin: 0;
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
}

.news_top_text{
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
}

.text_author{
    font-family: 'Roboto','Arial',sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #28508E;
}

.president{
    width: 794px;
    height: 2px;
    background-color: #EBEBEB;
}



.right_news_list{
    width: 380px;
    background-color:#F6F6F9;
    text-align:left;
    list-style-type: none;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.right_news_title{
    font-family: 'Rubik','Arial',sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    
}

.right-list_texts{
    width: 300px;
    text-align: left;
}

.right_line{
    width: 330px;
    height: 4px;
    background-color: #E4E4E4;
    display: block;
    margin-right: 12px;
    margin-top: 15px;
    
}

    /* 
        news theme
     */

.news_title_name{
    text-align-last: left;
    font-family: 'Rubik','Arial',sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.news_three{
    display: flex;
    text-align: left;
    margin-bottom: 34px;
}

.president_miting{
    margin-right: 20px;
}

.news_title{
    font-family: 'Rubik','Arial',sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #000000;

}


